<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/header.css">
    <!-- <link rel="stylesheet" href="../css/header&footer.css"> -->
    <script src="https://kit.fontawesome.com/cb6bf56872.js" crossorigin="anonymous"></script>
    
    
</head>

<body>
    <div class="container-fluid">

        <!-- ===========  Header  =========== -->
        <header class="justify-content-around">
            <nav class="navbar sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand logo_link_trasition" href="#">
                        <img src="../static/images/LAZY-TRAVEL ICON.png" width="70" height="70"
                            class="d-inline-block align-text-center ">
                        LAZY_TRAVEL
                    </a>
                    
                    <div class="navbar nav-item-area">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link  link_trasition dropdown-toggle" data-bs-toggle="dropdown">首頁</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">行程篩選</a></li>
                                <li><a class="dropdown-item" href="#">熱門行程</a></li>
                                <li><a class="dropdown-item" href="#">熱門景點</a></li>
                              
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link link_trasition dropdown-toggle" data-bs-toggle="dropdown"">部落格 BLOG</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">熱門文章</a></li>
                                <li><a class="dropdown-item" href="#">撰寫文章</a></li>
                                <li><a class="dropdown-item" href="#">我的文章</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link link_trasition dropdown-toggle" data-bs-toggle="dropdown"">會員中心</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">會員資料</a></li>
                                <li><a class="dropdown-item" href="#">歷史訂單</a></li>
                                <li><a class="dropdown-item" href="#">優惠券</a></li>
                                <li><a class="dropdown-item" href="#">我的評價</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link link_trasition dropdown-toggle" data-bs-toggle="dropdown"">客服</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">常見問題 F&Q</a></li>
                                <li><a class="dropdown-item" href="#">聯絡我們</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link link_trasition">登入/註冊</a></li>
                        <li class="nav-item"><i class="fa-solid fa-envelope nav-link link_trasition"></i></li>
                        <li class="nav-item"><i class="fa-regular fa-heart nav-link link_trasition"></i></li>
                    </div>
                </div>
            </nav>

        </header>
    </div>

    <script src="/static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendors/jquery/jquery-3.7.1.min.js"></script>
</body>
</html>