<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css"> -->
    <link rel="stylesheet" href="../css/header-footer.css"> 
    <script src="https://kit.fontawesome.com/cb6bf56872.js" crossorigin="anonymous"></script>
</head>
<body>
  <header id="header"></header>
  <main>


  </main>
    
  <footer id="footer"></footer>
  <script src="../../static/vendors/bootstrap/js//bootstrap.bundle.min.js"></script>
  <script src="../../static/vendors/jquery/jquery-3.7.1.min.js"></script>
  <script>
    $("#header").load("header.html");
    $("#footer").load("footer.html");
  </script>
  
    
</body>
</html>